{% extends 'base.html.twig' %}

{% block title %}Guestlist | Event{% endblock %}

{% block body %}
    <h1>Guestlist for <span class="text-info">{{ event.name }}</span> ({{ event.eventStart|date('d.m.Y') }})</h1>
    <div id="event-statistics">
        <div class="progress mb-1">
            <div data-progress="percentage" class="progress-bar bg-success" role="progressbar" style="width: {{ percentages.percentage }}%" aria-valuenow="{{ percentages.percentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentages.percentage }}%</div>
            <div data-progress="no-show-percentage" class="progress-bar bg-danger" role="progressbar" style="width: {{ percentages.noShowPercentage }}%" aria-valuenow="{{ percentages.noShowPercentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentages.noShowPercentage }}%</div>
        </div>
        <table class="table table-sm table-dark">
            <tr>
                <th class="text-muted"># Guests: <span class="text-white fw-bold" data-value="totalExpectedGuests">{{ counters.totalExpectedGuests }}</span></th>
                <th class="text-muted"># Checked In: <span class="text-white fw-bold" data-value="totalCheckedIn">{{ counters.totalCheckedIn }}</span></th>
                <th class="text-muted"># No Show: <span class="text-white fw-bold" data-value="totalNoShows">{{ counters.totalNoShows }}</span></th>
            </tr>
        </table>
    </div>
    <hr>
    <div class="d-flex justify-content-center align-items-center gap-3">
        <div class="flex-fill">
            <div class="input-group">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </span>
                <input type="search" class="form-control form-control-lg" id="searchbox" placeholder="Search for guest" disabled="">
                <button class="btn btn-danger" type="button" id="searchbox-clear">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" x="0px" y="0px" viewBox="0 0 1000 1000" xml:space="preserve">
                        <g><path d="M500,990c-130.9,0-253.9-51-346.4-143.5C60.9,753.9,10,630.9,10,500c0-130.9,50.9-253.9,143.5-346.4C246,61,369.1,10,500,10c130.9,0,254,51,346.5,143.6C939,246.1,990,369.1,990,500c0,130.9-51,253.9-143.6,346.5C753.9,939,630.9,990,500,990z M500,99.1c-107.1,0-207.7,41.7-283.5,117.5C140.8,292.3,99.1,392.9,99.1,500c0,107.1,41.7,207.7,117.4,283.5c75.7,75.7,176.4,117.4,283.5,117.4c107.1,0,207.8-41.7,283.5-117.4c75.7-75.7,117.5-176.4,117.5-283.5c0-107.1-41.7-207.7-117.5-283.5C707.7,140.8,607.1,99.1,500,99.1z"/><path d="M611.8,388.2L388.2,611.8L611.8,388.2z"/><path d="M388.2,656.3c-11.4,0-22.8-4.3-31.5-13.1c-17.4-17.4-17.4-45.6,0-63l223.5-223.6c17.4-17.4,45.6-17.4,63,0c17.4,17.4,17.4,45.6,0,63L419.7,643.3C411,652,399.6,656.3,388.2,656.3z"/><path d="M388.2,388.2l223.5,223.5L388.2,388.2z"/><path d="M611.8,656.3c-11.4,0-22.8-4.3-31.5-13.1L356.8,419.7c-17.4-17.4-17.4-45.6,0-63c17.4-17.4,45.6-17.4,63,0l223.5,223.6c17.4,17.4,17.4,45.6,0,63C634.6,652,623.2,656.3,611.8,656.3z"/></g>
                    </svg>
                </button>
                <div class="input-group-text">
                    <div class="form-check form-switch form-control-lg">
                        <input class="form-check-input" type="checkbox" role="switch" id="showCheckedInGuests" checked="checked" value="1" data-enpassusermodified="yes">
                        <label class="form-check-label" for="showCheckedInGuests">Show C/I</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table my-4" id="guest-list-table" data-event-id="{{ event.id }}">
        <thead>
            <tr class="text-white text-uppercase bg-secondary">
                <th>First Name</th>
                <th>Last Name</th>
                <th data-sort-method="none">Pluses</th>
                <th data-sort-method="none">Checked In</th>
                <th data-sort-method="none"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <hr>

    <template id="guest-list-row-not-checked-in">
        <tr data-guest-id=".id" data-first-name=".firstName" data-last-name=".lastName" data-pluses=".pluses" data-status=".status" class="text-white">
            <td class="align-middle" data-col="firstName" data-value="firstName"></td>
            <td class="align-middle" data-col="lastName" data-value="lastName"></td>
            <td class="align-middle" data-col="pluses"></td>
            <td class="align-middle" data-col="checkInTime"></td>
            <td class="actions">
                <div class="d-grid">
                    <button type="button" class="btn btn-success" data-action="check-in">Check In</button>
                </div>
            </td>
        </tr>
    </template>

    <template id="guest-list-row-checked-in">
        <tr data-guest-id=".id" data-first-name=".firstName" data-last-name=".lastName" data-pluses=".pluses" data-status=".status" class="row-checked-in bg-danger text-white">
            <td class="align-middle" data-col="firstName" data-value="firstName"></td>
            <td class="align-middle" data-col="lastName" data-value="lastName"></td>
            <td class="align-middle" data-col="pluses"></td>
            <td class="align-middle" data-value="checkInTime"></td>
            <td class="actions">
                <div class="d-grid">
                    <button type="button" class="btn btn-warning" data-action="check-out">Check Out</button>
                </div>
            </td>
        </tr>
    </template>

    <template id="modal-plus-button">
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="checkedInPluses" id="checkedInPluses_" autocomplete="off" required>
            <label class="form-check-label" for="checkedInPluses_">+<span data-value="value"></span></label>
        </div>
    </template>

    <template id="check-in-modal">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Check In <span data-value="firstName"></span> <span data-value="lastName"></span></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="check-in-form" action="#" hidden>
                            <h4><span data-value="firstName"></span> <span data-value="lastName"></span> was accompanied by</h4>

                            <div id="plusesButtons"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-action="perform-mark-no-show">Cancel participation</button>
                        <button type="submit" class="btn btn-success" data-action="perform-check-in" form="check-in-form">Check in</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="check-out-modal">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Check Out <span data-value="firstName"></span> <span data-value="lastName"></span></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-action="perform-check-out">Check out</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="button-in-progress">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </template>

    <div class="modal" tabindex="-1" id="error-modal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Uncaught error <span data-value="exception"></span></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span data-value="message"></span><br><br>
                    Stack trace:
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_guest_list') }}" class="btn btn-info">Back to list</a>
{% endblock %}
