{% extends 'base.html.twig' %}

{% block title %}Guestlist | Event{% endblock %}

{% block body %}
    <h1>Guestlist for <span class="text-info">{{ event.name }}</span></h1>

    <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="searchbox" placeholder="Search for guest">
    </div>
    <table class="table" id="guest-list">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Pluses</th>
            <th>Checked In</th>
            <th></th>
        </tr>
        {% for guest in event.guests %}
            <tr {{ (guest.checkInTime) ? 'class="bg-danger"' : '' }} data-guest-id="{{ guest.id }}" data-first-name="{{ guest.firstName }}" data-last-name="{{ guest.lastName }}" data-plusses="{{ guest.pluses }}">
                <td class="align-middle">{{ guest.firstName }}</td>
                <td class="align-middle">{{ guest.lastName }}</td>
                <td class="align-middle">
                    {% if guest.pluses %}
                        {% if guest.checkInTime %}
                            +{{ guest.checkedInPluses }} / {{ guest.pluses }}
                        {% else %}
                            +{{ guest.pluses }}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if guest.checkInTime %}
                        {{ guest.checkInTime|date('d.m.Y h:i') }}
                    {% endif %}
                </td>
                <td>
                    <div class="d-grid">
                        {% if guest.checkInTime %}
                            <button type="button" class="btn btn-warning" data-action="check-out">Check Out</button>
                        {% else %}
                            <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-{{ guest.id }}">Check in</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <hr>
    <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentage }}%</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ noShowPercentage }}%" aria-valuenow="{{ noShowPercentage }}" aria-valuemin="0" aria-valuemax="100">{{ noShowPercentage }}%</div>
    </div>
    <table class="table table-sm">
        <tr>
            <th># Guests</th>
            <th># Checked In</th>
            <th># No Show</th>
        </tr>
        <tr>
            <td>{{ counters.totalExpectedGuests }}</td>
            <td>{{ counters.totalCheckedIn }}</td>
            <td>{{ counters.totalNoShows }}</td>
        </tr>
    </table>
    <hr>

{# Render modals#}

    <template id="plusButton">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio">+ <span data-value="value"></span></label>
    </template>

    <template id="check-in-modal">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Check In <span data-value="firstName"></span> <span data-value="lastName"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div data-value="pluses" hidden>
                            <h3><span data-value="firstName"></span> <span data-value="lastName"></span> was accompanied by</h3>

                            <div id="plusesButtons" class="btn-group" role="group">
                                <!-- renders #plusButton template via JS -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Check in</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="check-out-modal">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Check Out <span data-value="firstName"></span> <span data-value="lastName"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-action="perform-check-out">Check out</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <div class="modal" tabindex="-1" id="error-modal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Uncaught <span data-value="exception"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span data-value="message"></span><br><br>
                    Stack trace:
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_guest_list') }}" class="btn btn-info">Back to list</a>
{% endblock %}
