{% extends 'base.html.twig' %}

{% block title %}Guestlist | Event{% endblock %}

{% block body %}
    <h1>Guestlist for <span class="text-info">{{ event.name }}</span></h1>

    <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="searchbox" placeholder="Search for guest">
    </div>

    <table class="table table-dark table-striped my-4" id="guest-list-table" data-event-id="{{ event.id }}">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Pluses</th>
                <th>Checked In</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <hr>

    <div id="event-statistics">
        <div class="progress">
            <div data-progress="percentage" class="progress-bar bg-success" role="progressbar" style="width: {{ percentages.percentage }}%" aria-valuenow="{{ percentages.percentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentages.percentage }}%</div>
            <div data-progress="no-show-percentage" class="progress-bar bg-danger" role="progressbar" style="width: {{ percentages.noShowPercentage }}%" aria-valuenow="{{ percentages.noShowPercentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentages.noShowPercentage }}%</div>
        </div>
        <table class="table table-sm table-dark table-striped">
            <thead>
                <tr>
                    <th># Guests</th>
                    <th># Checked In</th>
                    <th># No Show</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-value="totalExpectedGuests">{{ counters.totalExpectedGuests }}</td>
                    <td data-value="totalCheckedIn">{{ counters.totalCheckedIn }}</td>
                    <td data-value="totalNoShows">{{ counters.totalNoShows }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <template id="guest-list-row-not-checked-in">
        <tr data-guest-id=".id" data-first-name=".firstName" data-last-name=".lastName" data-pluses=".pluses">
            <td class="align-middle" data-col="firstName" data-value="firstName"></td>
            <td class="align-middle" data-col="lastName" data-value="lastName"></td>
            <td class="align-middle" data-col="pluses"></td>
            <td class="align-middle" data-col="checkInTime"></td>
            <td>
                <div class="d-grid" data-col="actions">
                    <button type="button" class="btn btn-success" data-action="check-in">Check In</button>
                </div>
            </td>
        </tr>
    </template>

    <template id="guest-list-row-checked-in">
        <tr data-guest-id=".id" data-first-name=".firstName" data-last-name=".lastName" data-pluses=".pluses" class="border-danger">
            <td class="align-middle" data-col="firstName" data-value="firstName"></td>
            <td class="align-middle" data-col="lastName" data-value="lastName"></td>
            <td class="align-middle" data-col="pluses"></td>
            <td class="align-middle" data-value="checkInTime"></td>
            <td>
                <div class="d-grid" data-col="actions">
                    <button type="button" class="btn btn-warning" data-action="check-out">Check Out</button>
                </div>
            </td>
        </tr>
    </template>

    <template id="modal-plus-button">
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="checkedInPluses" id="checkedInPluses_" autocomplete="off" required>
            <label class="form-check-label" for="checkedInPluses_">+<span data-value="value"></span></label>
        </div>
    </template>

    <template id="check-in-modal">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Check In <span data-value="firstName"></span> <span data-value="lastName"></span></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="check-in-form" action="#" hidden>
                            <h4><span data-value="firstName"></span> <span data-value="lastName"></span> was accompanied by</h4>

                            <div id="plusesButtons"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" data-action="perform-check-in" form="check-in-form">Check in</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="check-out-modal">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Check Out <span data-value="firstName"></span> <span data-value="lastName"></span></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-action="perform-check-out">Check out</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="button-in-progress">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </template>

    <div class="modal" tabindex="-1" id="error-modal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Uncaught <span data-value="exception"></span></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span data-value="message"></span><br><br>
                    Stack trace:
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_guest_list') }}" class="btn btn-info">Back to list</a>
{% endblock %}
