{% extends 'base.html.twig' %}

{% block title %}Guestlist | Event{% endblock %}

{% block body %}
    <h1>Guestlist for {{ event.name }}</h1>

    <input type="text" style="font-size: 30px;" placeholder="Search for guest">
<hr>

    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Pluses</th>
            <th>Checked In</th>
            <th></th>
        </tr>
        {% for guest in event.guests %}
            <tr {{ (guest.checkInTime) ? 'class="bg-danger"' : '' }}>
                <td>{{ guest.firstName }}</td>
                <td>{{ guest.lastName }}</td>
                <td>
                    {% if guest.pluses %}
                        (+{{ guest.pluses }})
                    {% endif %}

                </td>
                <td>
                    {% if guest.checkInTime %}
                        {{ guest.checkInTime|date('d.m.Y h:i') }}
                    {% endif %}
                </td>
                <td>
                    {% if guest.checkInTime %}
                        <a href="checkOut" class="btn btn-warning">Check Out</a>
                    {% else %}
                        <a href="checkin" class="btn btn-success">Check in</a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('app_guest_list') }}" class="btn btn-info">Back to list</a>
{% endblock %}
