{% extends 'base.html.twig' %}

{% block title %}Guestlist | Select Event{% endblock %}

{% block body %}

    <h1>Guestlist</h1>
    <table class="table">
        <tr class="text-white text-uppercase bg-secondary">
            <th>Date</th>
            <th>Event</th>
            <th>Total Guests</th>
            <th></th>
            <th></th>
        </tr>
    {% for event in events %}
        {% set tableClass = 'text-white' %}
        {% set buttonClass = '' %}
        {% if  event.eventStart|date("Ymd") < 'now'|date("Ymd") %}
            {%set tableClass = 'text-muted' %}
            {% set buttonClass = '-outline' %}
        {% elseif event.eventStart|date("Ymd") == 'now'|date("Ymd") %}
            {%set tableClass = 'text-black bg-warning' %}
        {% endif %}
        <tr class=" {{ tableClass }}">
            <td>{{ event.eventStart|date("d.m.Y") }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.totalGuests }}</td>
            <td><a href="{{ path('app_guest_list_event', { event:event.id }) }}" class="btn btn{{  buttonClass}}-success">SELECT</a></td>
            <td><a href="{{ path('app_host', { event:event.id }) }}" class="btn btn{{  buttonClass}}-info">ORGANIZER VIEW</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
